<h2>{{title}}</h2>

<ul>
  {{#each people as |person|}}
    <!-- <li>{{!--person--}}</li> -->
    <li {{action "showPerson" person}}>{{person}}</li> <!--action keyword allows adding of event listeners to elements anf called name functions-->
    {{/each}}
</ul>

{{yield}}
