<!-- <h2>List of Scientists</h2>

{{!--turning the array of strings into html from scientists.js using each helper--}}
<ul>
  {{!--#each model as |scientist|--}}
    <li>{{!--scientist--}}</li>
    {{!--/each--}}
</ul> -->

<!--Through use of people-list.hbs, make it more componentized-->
{{people-list title = "List of Scientists" people=model}}
{{outlet}}
